            svg.atom {
                max-height: 100vh;
                max-width: 100vw;
                overflow: visible;
            }
            
            svg circle.kern {
                fill: #FFEA00;
                stroke: none;
                filter: drop-shadow(0px 0px 4px #AEEA00);
            }
            
            .atom path {
                fill: none;
                stroke: #999;
                stroke-width: 0.06;
            }
            
            path.tail {
                stroke: #bda800;
                fill: none;
                animation: atom 1.5s infinite linear;
                stroke-dashoffset: 0;
                stroke-dasharray: 20, 44.5;
                stroke-width: 0.6;
            }
            
            path.electron {
                stroke: #FFEA00;
                fill: none;
                animation: atom 1.5s infinite linear;
                stroke-dashoffset: 0;
                stroke-dasharray: 0.1, 64.4;
                stroke-width: 2;
                stroke-linecap: round;
            }
            
            path.tail1,
            path.electron1 {
                animation-delay: -1s;
            }
            
            path.tail2,
            path.electron2 {
                animation-delay: -1.4s;
            }
            
            @keyframes atom {
                to {
                    stroke-dashoffset: 129;
                }
            }
            
            html {
                height: 100%;
                background: #1A2A3A;
                color: #FFF;
            }
            
            body {
                font-family: 'Exo', sans-serif;
                display: flex;
                flex-direction: column;
                height: 100%;
            }
            
            *,
            *:before,
            *:after {
                position: relative;
                box-sizing: border-box;
            }
            
            h1 {
                color: #00ceff;
                position: absolute;
                top: 3%;
                left: auto;
                text-shadow: 0 0 10px #00ceff;
                font-size: 4rem;
            }
            
            h3 {
                color: #00ceffa3;
                position: absolute;
                top: 12%;
                left: auto;
                font-size: 1.3rem;
            }
            
            @-webkit-keyframes sheen {
                0% {
                    -webkit-transform: skewY(-45deg) translateX(0);
                    transform: skewY(-45deg) translateX(0);
                }
                100% {
                    -webkit-transform: skewY(-45deg) translateX(12.5em);
                    transform: skewY(-45deg) translateX(12.5em);
                }
            }
            
            @keyframes sheen {
                0% {
                    -webkit-transform: skewY(-45deg) translateX(0);
                    transform: skewY(-45deg) translateX(0);
                }
                100% {
                    -webkit-transform: skewY(-45deg) translateX(12.5em);
                    transform: skewY(-45deg) translateX(12.5em);
                }
            }
            
            .wrapper {
                display: block;
                position: absolute;
                top: 92%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            
            .button {
                padding: 0.75em 2em;
                text-align: center;
                text-decoration: none;
                color: #2194E0;
                border: 2px solid #2194E0;
                font-size: 24px;
                display: inline-block;
                border-radius: 0.3em;
                transition: all 0.2s ease-in-out;
                position: relative;
                overflow: hidden;
                box-shadow: 0 0 10px #2194E0;
            }
            
            .button:before {
                content: "";
                background-color: rgba(255, 255, 255, 0.5);
                height: 100%;
                width: 3em;
                display: block;
                position: absolute;
                top: 0;
                left: -4.5em;
                -webkit-transform: skewX(-45deg) translateX(0);
                transform: skewX(-45deg) translateX(0);
                transition: none;
            }
            
            .button:hover {
                background-color: #2194E0;
                color: #fff;
                border-bottom: 4px solid #1977b5;
            }
            
            .button:hover:before {
                -webkit-transform: skewX(-45deg) translateX(13.5em);
                transform: skewX(-45deg) translateX(13.5em);
                transition: all 0.5s ease-in-out;
            }
            
            .navbar-light .navbar-nav .nav-link {
                color: white;
                padding: 4px 20px;
                font-size: 1.rem;
                padding-top: 6px;
            }
            
            .navbar-light .navbar-brand {
                color: #00ceff;
                font-size: 1.5rem;
                padding: 0;
                overflow: hidden;
            }
            
            .navbar-light .navbar-brand:before {
                content: "";
                background-color: rgba(255, 255, 255, 0.5);
                height: 100%;
                width: 3em;
                display: block;
                position: absolute;
                top: 0;
                left: -4.5em;
                -webkit-transform: skewX(-45deg) translateX(0);
                transform: skewX(-45deg) translateX(0);
                transition: none;
            }
            
            .navbar-light .navbar-brand:hover:before {
                -webkit-transform: skewX(-45deg) translateX(13.5em);
                transform: skewX(-45deg) translateX(13.5em);
                transition: all 0.5s ease-in-out;
            }
            
            .navbar-light .navbar-brand:hover {
                transition: all 0.30s ease-in-out;
                color: #3e69fe;
            }
            
            .navbar-light .navbar-nav .nav-link:hover {
                transition: all 0.30s ease-in-out;
                color: #00ceff;
            }
            
            .trangdoi {
                background: #1A2A3A;
                font-family: 'Exo', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;
            }
            
            .homepage {
                background: linear-gradient(to left, #4cd4e3 0%, #3e69fe 100%);
            }
            
            .dropdown-item:hover {
                background: #4cd4e3;
            }
            
            .bg-dark {
                background-size: 5rem 30rem;
            }
            
            #text {
                max-width: 100px;
            }
            
            #anh1 {
                max-width: 450px;
                padding: 0;
            }
            
            #textoftitle {
                color: #ffffffc7;
                font-size: 1.5rem;
            }
            
            #textoflaptop {
                font-size: 3rem;
                color: white;
                position: absolute;
                left: 150px;
                top: 100px;
            }
            
            .titlenha {
                text-align: center;
            }
            
            #welcome {
                font-size: 3rem;
                color: white;
                text-align: center;
                margin: 0 auto;
                padding-top: 5rem;
            }
            
            .show {
                background: white;
            }
            
            #textofshow {
                color: #3e69fe;
                font-size: 2rem;
            }
            
            .title {
                padding-top: 12rem;
                padding-bottom: 13rem;
            }